script(type='text/javascript', src='//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js', async)

span(id='busuanzi_container_site_pv') Hits: 
    span(id='busuanzi_value_site_pv')
        i(class='fa fa-spinner fa-spin')
